
<nav>

<div class="logo">

<h3>250<span>hookahs</span></h3>
</div>
<br>
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="store.html">Hookah</a></li>
  <li><a href="store.html">Shisha Flavors</a></li>
  <li><a href="store.html">Charcoal</a></li>
  <li><a href="store.html">Accessories</a></li>
</ul>

<br>

<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-phone"></i></a>

					</div>


</nav>
